/* PARTS INCLUDES */
@import "variables";
@import "fonts";
@import "mixins";
@import "mediaqs";

html, body {
	height: 100%;
	margin: 0;
}

.page {

	// Font base
	font-size: 16px;

	@include mediaqs(small){
		font-size: 14px;
	}

	.row {
		min-width: 90%;
		@include mediaqs(xlarge){
			min-width: 80%;
		}
	}

	/* ========== ESTILOS GLOBALES ==========

		--INDICE--

		1 HEADER MEDIUM-UP
		2. HEADER SMALL
		3. FOOTER
		4. GENERAL
		5. FORMULARIOS
		6. BUTTONS
		7. TIPS
		8. BANNER IMAGE
		9. BANNER-TITLE PAGE
		10. BOX-GRAL
		11. ANIMATIONS
				

	*/

	/* ========== 1. HEADER MEDIUM-UP ========== */
	

	/* ========== 2. HEADER SMALL ========== */


	/* ========== 3. FOOTER ========== */
	

	/* ========== 4. GENERAL ========== */
	
	

	/* ========== 5. FORMULARIO ========== */
	.form {

		input[type=text] {

		}

		input[type=checkbox] {

		}

		input[type=password] {

		}
		select {

		}
		label {
			
		}
		textarea {

		}
	}

	::-webkit-input-placeholder {
	}
	::-moz-placeholder {
	} /* firefox 19+ */
	:-ms-input-placeholder {
	} /* ie */
	input:-moz-placeholder {
		
	}

	/* ========== 6. BUTTONS ========== */

	
	/* ========== 7. TIPS ========== */
	

	/* ========== 8. BANNER IMAGE ========== */
	
	/* ========== 9. BANNER-TITLE PAGE  ========== */

	

	/* ========== 10. BOX-GRAL  ========== */
	
	

	
		
}/* END PAGE */
