
@font-face {
	font-family: 'Roboto-Light';
	src: url("../font/Roboto-Light.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Light.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Light.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Light.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Light.svg#font") format('svg'); /* iOS */
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url("../font/Roboto-LightItalic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-LightItalic.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-LightItalic.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-LightItalic.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-LightItalic.svg#font") format('svg'); /* iOS */
}
@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url("../font/Roboto-MediumItalic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-MediumItalic.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-MediumItalic.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-MediumItalic.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-MediumItalic.svg#font") format('svg'); /* iOS */
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url("../font/Roboto-Italic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Italic.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Italic.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Italic.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Italic.svg#font") format('svg'); /* iOS */
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url("../font/Roboto-Bold.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Bold.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Bold.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Bold.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Bold.svg#font") format('svg'); /* iOS */
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url("../font/Roboto-BoldItalic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-BoldItalic.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-BoldItalic.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-BoldItalic.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-BoldItalic.svg#font") format('svg'); /* iOS */
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url("../font/Roboto-BoldItalic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Medium.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Medium.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Medium.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Medium.svg#font") format('svg'); /* iOS */
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url("../font/Roboto-Thin.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Thin.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Thin.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Thin.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Thin.svg#font") format('svg'); /* iOS */
}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url("../font/Roboto-ThinItalic.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-ThinItalic.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-ThinItalic.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-ThinItalic.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-ThinItalic.svg#font") format('svg'); /* iOS */
}


