
@font-face {
	font-family: 'Roboto-Light';
	src: url("../font/Roboto-Light.eot"); /* IE 5-8 */
	src:local('☺'),             /* sneakily trick IE */
		url("../font/Roboto-Light.woff") format('woff'),    /* FF 3.6, Chrome 5, IE9 */
		url("../font/Roboto-Light.ttf") format('truetype'), /* Opera, Safari */
		url("../font/Roboto-Light.otf") format('otf'),    /* Firefox */
		url("../font/Roboto-Light.svg#font") format('svg'); /* iOS */
}

