
/* FONT ADVENTPRO*/
$Roboto-Light: 'Roboto-Light';
$Roboto-LightItalic: 'Roboto-LightItalic';
$Roboto-MediumItalic: 'Roboto-MediumItalic';
$Roboto-Italic: 'Roboto-Italic';
$Roboto-Bold: 'Roboto-Bold';
$Roboto-BoldItalic: 'Roboto-BoldItalic';
$Roboto-Medium: 'Roboto-Medium';
$Roboto-ThinItalic: 'Roboto-ThinItalic';


$color-title: #4A4A4A;
$color-text: #999999;
$bluex: #00A2C0;
$bluex-light: #00A2C0;
$color-footer-header: #000000;
$bg-light: #F0F0F0;
$bg-green-blue: #40BABC;
$bg-violet: #554A58;


// Colores icono products
$icon-blue-light: #6AA9D3;
$icon-green: #4BCC50;
$icon-violer: #50559D;
$icon-red: #F26D6D;